<h6>
    <span>Wedstrijden</span>

    <button mat-icon-button (click)="toevoegen()">
        <mat-icon>add</mat-icon>
    </button>
</h6>

<mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
    <mat-list-item [routerLink]="['/knwu/wedstrijd', wedstrijd.id, 'aanmelden']" *ngFor="let wedstrijd of wedstrijden | async; let index = index">
        <mat-icon matListItemIcon>directions_bike</mat-icon>

        <div matListItemTitle>{{wedstrijd.naam}}</div>

        <div matListItemLine>{{wedstrijd.datum | date:'dd-MM-yyyy'}}</div>

        <div matListItemMeta>
            <button mat-icon-button [matMenuTriggerFor]="printMenu" (click)="$event.preventDefault(); $event.stopPropagation(); $event.stopImmediatePropagation();">
                <mat-icon>print</mat-icon>
            </button>

            <mat-menu #printMenu="matMenu">
                <button mat-menu-item *ngFor="let categorie of wedstrijd.categorieen" [value]="categorie.id" (click)="print(wedstrijd.id, categorie.id)">{{ categorie.naam }}</button>
            </mat-menu>
        </div>
    </mat-list-item>
</mat-selection-list>
