@use '@angular/material' as mat;
@use './styles/theming.scss';
@use './styles/material/mat-toolbar.scss';
@use './styles/material/mat-stepper.scss';

* {
    margin: 0;
}

html,
body {
    height: 100%;
}
