.club-portal {
    display: flex;
    flex-direction: column;
    height: 100%;

    .toolbar {
        min-height: 64px;

        .active-link {
            background-color: color-mix(in srgb, var(--mat-sys-primary) 10%, transparent);
        }

        .menu {
            flex: 1;
        }

        > * + * {
            margin-left: 16px;
        }
    }

    // .cube {
    //     position: relative;
    //     border: 1px solid black;
    //     height: 100px;
    //     width: 100px;
    //     padding: 16px;
    //     margin: 16px;
    // }

    .form {
        padding: 16px;
    }

    router-outlet + * {
        flex: 1;
    }
}
