.club-portal {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100%;
    // background: red;
    // overflow: auto;

    .toolbar {
        > * + * {
            margin-left: 8px;
        }
    }

    // .cube {
    //     position: relative;
    //     border: 1px solid black;
    //     height: 100px;
    //     width: 100px;
    //     padding: 16px;
    //     margin: 16px;
    // }

    // table {
    //     table-layout: fixed;

    //     th,
    //     td {
    //         box-sizing: border-box;
    //         padding: 0 16px;
    //         border: 1px solid black;
    //     }
    // }

    router-outlet + * {
        flex: 1;
    }
}
