<mat-card [style.width.px]="300">
  <mat-card-content class="wedstrijden">
    @for (wedstrijd of wedstrijden | async; track wedstrijd) {
      <button class="wedstrijd option" mat-button [class.selected]="selectedWedstrijd === wedstrijd" (click)="selectedWedstrijd = wedstrijd">{{ wedstrijd.naam }}</button>
    }
  </mat-card-content>
</mat-card>

@if (selectedWedstrijd) {
  <mat-card [style.width.px]="300">
    <mat-card-content class="categorieen">
      @for (categorie of selectedWedstrijd.categorieen; track categorie) {
        <button class="categorie option" mat-button [class.selected]="selectedCategorie === categorie" (click)="selectedCategorie = categorie">{{ categorie.naam }}</button>
      }
    </mat-card-content>
    <mat-card-actions class="actions">
      <button mat-flat-button (click)="bevestigen()" [disabled]="!selectedWedstrijd || !selectedCategorie">
        <mat-icon>check</mat-icon>
        <span>Bevestigen</span>
      </button>
    </mat-card-actions>
  </mat-card>
}
