:host {
    form {
        display: flex;
        flex-direction: row;
        gap: 24px;

        section {
            display: flex;
            flex-direction: column;
            flex: 1;
            max-width: 325px;

            fieldset {
                display: flex;
                align-items: center;
                gap: 8px;
                min-width: 200px;
                max-width: 300px;
            }

            + section {
                border-left: 1px solid black;
                padding-left: 16px;
            }
        }

        section:last-of-type {
            max-width: unset;

            fieldset:has(textarea) {
                max-width: unset;
            }
        }
    }
}
