<clean-table-header class="clean-table-header">
    <div class="clean-table-header-top">
        <ng-content select="clean-table-title" />

        @if (config.enableFilter) {
        <div class="clean-table-filter">
            <mat-icon>search</mat-icon>
            <input type="text" (input)="table.filter(filter.value)" #filter />
        </div>
        }

        <ng-content select="clean-table-actions" />

        @if (config.enableExport) {
        <button mat-icon-button (click)="export()" matTooltip="Export"><mat-icon>download</mat-icon></button>
        } @if (config.enableSettings) {
        <button mat-icon-button (click)="configuration()" matTooltip="Instellingen" #configurationButton><mat-icon>settings</mat-icon></button>
        } @if (config.enableFullscreen) {
        <button mat-icon-button (click)="fullscreen()" matTooltip="Fullscreen">
            <!-- <mat-icon>fullscreen</mat-icon>
        @if () {
          <mat-icon>fullscreen_exit</mat-icon>
        } -->
        </button>
        }
    </div>
</clean-table-header>

<div class="clean-table-content">
    @if (table) {
    <table [class.clean-table-with-paginator]="config.pagination" mat-table matSort [dataSource]="table.dataSource">
        @for (column of table.columns.visible; track column) {
        <ng-container [matColumnDef]="column.name">
            <th mat-header-cell mat-sort-header clean-resize="right" [clean-resize-config]="{ minWidth: 100 }" [ngClass]="column.cssClass" [disabled]="!column.sortable" *matHeaderCellDef>
                {{ column.name }}
            </th>
            <td mat-cell [ngClass]="column.cssClass" *matCellDef="let rowElement">
                <div class="clean-table-cell-content">
                    @if (column.hasValue(rowElement)) {
                    <ng-container [cleanTableColumn]="column" [rowElement]="rowElement" />
                    } @else {
                    <span>{{ column.emptyPlaceholder }}</span>
                    }
                </div>
            </td>
        </ng-container>
        }
        <ng-container [matColumnDef]="table.columns.actionsName" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let rowElement">
                @for (action of config.actions?.rowActions; track action) {
                <button mat-icon-button [matTooltip]="action.tooltip" (click)="action.click(rowElement)">
                    <mat-icon>{{ action.icon }}</mat-icon>
                </button>
                } @if (config.actions?.delete) {
                <button mat-icon-button (click)="config.actions.delete(rowElement)">
                    <mat-icon>delete</mat-icon>
                </button>
                }
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="table.columns.names"></tr>
        <tr mat-row *matRowDef="let rowElement; columns: table.columns.names"></tr>
        <tr class="mat-mdc-row mdc-data-table__row" *matNoDataRow>
            <td class="mat-mdc-cell mdc-data-table__cell" [attr.colspan]="table.columns.names.length">Geen gegevens gevonden</td>
        </tr>
    </table>
    }
</div>

@if (config.pagination) {
<mat-paginator
    class="clean-table-paginator"
    [length]="table?.dataSource.data.length"
    [pageSize]="config.pagination.pageSize"
    [showFirstLastButtons]="config.pagination.showFirstLastButtons"
    [pageSizeOptions]="config.pagination.pageSizeOptions"
    [hidePageSize]="config.pagination.hidePageSize"
    (page)="page.emit($event)"
/>
}
