:host([appearance='outlined']) {
    border: 1px solid var(--mat-sys-outline-variant);
    border-radius: var(--mat-sys-corner-large);
    background: var(--mat-sys-surface);

    .clean-table-content {
        margin: 0 16px;
    }
}

:host([appearance='fill']) {
    background-color: var(--mat-sys-surface-container);
    border-radius: var(--mat-sys-corner-large);

    .clean-table-header,
    .clean-table-paginator {
        color: var(--mat-sys-on-surface-variant);
    }
}

:host([appearance='none']) {
    border-radius: 0;

    .clean-table-header {
        padding: 16px 0;
    }

    .clean-table-paginator {
        padding: 8px 0;
    }
}

:host {
    display: block;
    width: 100%;
    border-radius: var(--mat-sys-corner-large);
    background: var(--mat-sys-surface);

    .clean-table-header {
        display: flex;
        flex-direction: column;
        padding: 16px;

        .clean-table-header-top {
            display: flex;
            align-items: center;
            font: var(--mat-sys-headline-small);
        }

        .clean-table-filter {
            display: flex;
            align-items: center;
            flex: 1;
            background-color: var(--mat-sys-surface-variant);
            color: var(--mat-sys-on-surface-variant);
            border-radius: 24px;
            padding: 0 16px;
            margin-left: 16px;
            height: 40px;

            input {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                font: var(--mat-sys-body-large);
                color: var(--mat-sys-on-surface-variant);
                padding: 0;
                margin-left: 8px;
                background: none;
            }
        }
    }

    .clean-table-content {
        overflow: auto;

        > table {
            table-layout: fixed;
            width: max-content;

            .mat-mdc-header-row {
                .mat-column-actions {
                    position: relative !important;
                    background: none !important;
                }
            }

            .mat-mdc-row {
                .mat-column-actions {
                    background: none;
                    padding-left: 50px;

                    button {
                        opacity: 0;
                    }
                }

                &:hover {
                    .mat-column-actions {
                        background: linear-gradient(to right, transparent, var(--mat-sys-surface-container-low) 25%);

                        button {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .clean-table-paginator {
        background: none;
        padding: 8px 16px;
    }
}
