@use '@angular/material' as mat;

body {
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font-family: Roboto, 'Helvetica Neue', sans-serif;

    @include mat.theme(
        (
            color: (
                theme-type: light,
                primary: mat.$azure-palette,
                tertiary: mat.$blue-palette
            ),
            typography: Roboto,
            density: 0
        )
    );
}

h1 { font: var(--mat-sys-headline-small); }
h2 { font: var(--mat-sys-title-large); }
h3 { font: var(--mat-sys-title-medium); }
h4 { font: var(--mat-sys-title-small); }