@use "@angular/material" as mat;

html {
    @include mat.theme(
        (
            color: (
                theme-type: light,
                primary: mat.$blue-palette,
                tertiary: mat.$orange-palette
            ),
            typography: Roboto,
            density: 0
        )
    );
}

body {
    color: var(--mat-sys-on-surface);
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
    font: var(--mat-sys-headline-small);
}
h2 {
    font: var(--mat-sys-title-large);
}
h3 {
    font: var(--mat-sys-title-medium);
}
h4 {
    font: var(--mat-sys-title-small);
}
